// Google's Material icon font config
.material-icons, .md-icon {
    color: rgba(0, 0, 0, 0.54);

    .md-18 { font-size: 18px; }
    .md-24 { font-size: 24px; }

    .md-inactive { color: rgba(0, 0, 0, 0.26); }
}
